*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}

:root{
    --bg-color: #1f232e;
    --second-bg-color: #2a3040;
    --text-color: #fff;
    --main-color: #4CB1DC;
    --scroll-color: #949393;
}

a{
    color: var(--text-color);
}
